

<div class="card-container container-fluid">

    <div class="card bg-gradient-lighter shadow ">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    <h6 class="text-uppercase text ls-1 mb-1">Insertion globale</h6>
                    <h2 class="text mb-0">Données des stagiares</h2>
                </div>
                <div class="col">

                    <form>
                        <div class="custom-file">
                            <label class="custom-file-label" for="csvFileInput">Choisir le fichier</label>
                          <input type="file" class="custom-file-input" id="csvFileInput"  >
                        </div>
                      </form>

                    <!-- <input class="float-right" type="file" id="csvFileInput"> -->
                </div>
            </div>
        </div>
        <div class="card-body" >
                
                <table id="insertion-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                
        </div>
    </div>

</div>



