<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidebar"
    aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">Logo</a>

  <div class="collapse navbar-collapse" id="sidebar">
    <ul class="navbar-nav">
      <li class="border-dark rounded-pill nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="border-dark rounded-pill nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="border-dark rounded-pill nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="border-dark rounded-pill nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>